* {
    box-sizing: border-box;
    margin-top: 0;

    font-family: Muli, 'Courier New', Segoe UI, Roboto;
    color: white;
}

html, body, div {
    margin: 0;
    padding: 0;
} 

body {
    background-color: rgb(30, 24, 32);
}

#wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;

    background-color: #ffffff07;
}

h1, h2, h3, h4, h5 {
    font-family: "Saira Extra Condensed";
    font-weight: 700;
    line-height: 1.2;
}

