@import "variables";
@import "elements"; // Element defaults
@import "header"; // Header specific
@import "content"; // Content specific
@import "footer"; // Footer specific

body {
  margin: 0;
  padding: 0;
  font-family: Fira Code, Monaco, Consolas, monospace;
  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -0.02em;
  background-color: $background;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
