<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>
    <div class="container headings--one-size">
        
        <a name="top"></a>

        <header class="header">

            <div class="header__inner">
                <div class="header__logo">
                    <a href="/">
                        <div class="logo">
                            {{ site.title }}
                        </div>
                    </a>
                </div>
            </div>

            <nav class="menu">
                <ul class="menu__inner menu__inner--desktop">
                    <li><a href="/about">About</a></li>
                    <li><a href="/showcase">Showcase</a></li>
                    <ul class="menu__sub-inner">
                        <li class="menu__sub-inner-more-trigger">Show more ▾</li>
                        <ul class="menu__sub-inner-more hidden">
                            <li><a href="/pages/wolf_script.html">WolfScript</a></li>
                        </ul>
                    </ul>
                </ul>
            </nav>

        </header>

        <div class="content">
            <div class="post">

                <h1 class="post-title"><a href="">{{ page.title }}</a></h1>
                <div class="post-meta">
                    <span class="post-date">25-06-2020 [Updated 25-06-2020]</span>
                </div>
                <div class="table-of-contents">
                    <h2>Table of Contents</h2>
                    <nav id="TableOfContents">
                        {% include toc.html html=content %}
                    </nav>
                </div>
                <div class="post-content"><div>{{ content }}</div></div>
                
            </div>
        </div>

        <footer class="footer">

        </footer>
    </div>

</body>

</html>